<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹디자인기능사</title>
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <link href="https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "GmarketSans";
        }
        main {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <main>
        <h1>layout</h1>
        <nav>
            <ul>
                <li><a href="layout/a1.html">a1</a></li>
                <li><a href="layout/a2.html">a2</a></li>
                <li><a href="layout/a3.html">a3</a></li>
                <li><a href="layout/a4.html">a4</a></li>
            </ul>
        </nav>
    </main>
</body>

</html>